<html>
    <head>
        <title>
            Error
        </title>
        <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="https://img.icons8.com/ultraviolet/40/000000/us-dollar.png" type="image/gif" sizes="16x16">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    </head>
    <body>
            <centre><div class="alert alert-danger" role="alert" style="margin: 20px">
                <font size=6px>
                    {{message}}<br>Go back to <a href="/">Homepage</a>
                </font>
                  </div></body></centre>
    </body>
</html>
